main {
    flex-direction: column;
    padding: 5px;
}

span {
    margin-left: 8px;
}

.main-image {
    height: 530px;
    width: 445px;
    border: black solid 5px;
    margin: 20px;
}

.show-container {
    align-items: flex-start;
}

.show-stats-container {
    margin-top: 20px;
}

.inline-h3 {
    display: inline;
}

