main {
    flex-direction: column;
    padding: 5px;
}

span {
    margin-left: 8px;
}

.main-image {
    height: 530px;
    width: 445px;
    border: black solid 5px;
    border-radius: 8px;
    margin: 20px;
}

.show-container {
    align-items: flex-start;
}

.show-stats-container {
    margin-top: 20px;
}

.inline-h3 {
    display: inline;
}

.info-page-list-item {
    margin-bottom: 10px;
}

.seasons-label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 200px;
    height: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #acacac;
    color: #290000;
    font-weight: 600;
    font-size: 1.2rem;
}

